Add text to address Benoit's DISCUSS

Benoit submitted a DISCUSS related to management.  It was discussed and adding the following text as the penultimate paragraph in s1 ought will resolve it:

    Operators should note that deployment of WebRTC will
    result in a change in the nature of signaling for real time
    media on the network, and may result in a shift in the
    kinds of devices used to create and consume such media.
    In the case of signaling, WebRTC session setup will typically
    occur over TLS-secured web technologies (such as
    WebSockets [RFC6455]) using application-specific protocols.
    Operational techniques that involve inserting network
    elements to interpret SDP -- either through endpoint
    cooperation [RFC3361] or through the transparent insertion
    of of SIP Application Level Gateways (ALGs) -- will not work
    with such signaling. In the case of networks using cooperative
    endpoints, the approaches defined in [RFC8155] may serve as
    a suitable replacement for [RFC3361]. The increase in
    browser-based communications may also lead to a shift away
    from dedicated real-time-communications hardware, such as
    SIP desk phones. This will diminish the efficacy of operational
    techniques that place dedicated real-time devices on their own
    network segment, address range, or VLAN for purposes such as
    applying traffic filtering and QoS. The markings described in
    [ID.ietf-tsvwg-rtcweb-qos] may be appropriate replacements for
    such techniques.