Section 2.4

"ICE Agent:  An implementation of the Interactive Connectivty
      Establishment (ICE) [RFC5245] protocol.  An ICE Agent may also be
      an SDP Agent, but there exist ICE Agents that do not use SDP (for
      instance those that use Jingle)."

Just a not to verify that this is right: RFC 5245 defines "Agent" the same way as this document specifies "SDP agent" and refers to RFC 3264 for a definition of Agent. The term "Ice Agent" appear later in the terminology section though not as a separate definition but as an explanation of controlling and controlled agent... Nit picking here. ;-)

"Signaling:  Communication that happens in order to establish, manage and control media paths."

Signaling is also used for data channels


Data channels lack a term here. You have defined media and media path


Re Agent:

RFC 5245 section 2 says "In a typical ICE deployment, we have two endpoints (known as AGENTS
   in RFC 3264 terminology) that want to communicate.  They are able to
   communicate indirectly via some signaling protocol (such as SIP), by
   which they can perform an offer/answer exchange of SDP [RFC3264]
   messages."

RFC 5245bis says "In a typical ICE deployment, we have two endpoints (known as ICE
   AGENTS) that want to communicate.  They are able to communicate
   indirectly via some signaling protocol (such as SIP), by which they
   can exchange ICE candidates."

The binding to SDP has apparently been loosened in 5245bis.

I think we should move the reference to 5245bis - we already have normative dependencies on that from dualstack-fairness and bundle, so it's not a new blocker.


Added data channel and moved pointers to 5245bis.